# 파이썬 시작하기

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

## 파이썬 시작하기

In [1]:
#001 화면에 Hello World 문자열을 출력하세요.


print("Hello World")

Hello World

In [2]:
#002 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)


print("Mary's cosmetics")

Mary's cosmetics

In [3]:
#003 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)


print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
#004 화면에 "C:\Windows"를 출력하세요.


print('"C:\Windows"')

"C:\Windows"

In [92]:
#005 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
#\n 줄바꿈
#\t 탭


print("안녕하세요. \n만나서\t반갑습니다.")

안녕하세요.
만나서	반갑습니다.

In [8]:
#006 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.


print("오늘은", "일요일")

오늘은 일요일

In [10]:
#007 print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung


print("naver","kakao","sk","samsung", sep = ";")

naver;kakao;sk;samsung

In [11]:
#008 print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung


print("naver", "kakao", "sk", "samsung", sep = "/")

naver/kakao/sk/samsung

In [16]:
#009 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first",end="");print("second")

firstsecond

In [17]:
#010 5/3을 출력하세요
print(5/3)

1.6666666666666667

## 파이썬 변수

In [18]:
#011 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

samsung_amt = 50000
samsung_cnt = 10
tt_amt = samsung_amt * samsung_cnt

print(tt_amt)

500000

In [21]:
#012 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.


# 항목	값
# 시가총액	298조
# 현재가	50,000원
# PER	15.79

tt_amt = 2980000000000
now_amt = 50000
per = 15.79

print(tt_amt, type(tt_amt))
print(now_amt, type(now_amt))
print(per, type(per))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [27]:
#013 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"
t = "python"

# 두 변수를 이용하여 아래와 같이 출력해보세요.

# hello! python
# print(s, "! ", t, sep = "")
print(s+"!", t)

hello! python

In [28]:
#014 아래 코드의 실행 결과를 예상해보세요.

# >> 2 + 2 * 3 
# 8
print(2 + 2 * 3)

8

In [30]:
#015 type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

# >> a = 128
# >> print (type(a))
# <class 'int'>


a = "132"

print(type(a))

<class 'str'>

In [37]:
#016 문자열 to 정수형(str to int)

# 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

num_str = int(num_str)

num_str

720

In [38]:
#017 int to str

num = 100

num = str(num)
num

'100'

In [41]:
#018 str to float 
x = "15.79"
x = float(x)
x

15.79

In [42]:
#019 str to int
year = "2020"
this_year = int(year)
print(this_year, this_year-1, this_year-2)

2020 2019 2018

In [43]:
#020 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

month_amt = 48584
month = 36
total_amt = month_amt * month
print(total_amt)

1749024

## 파이썬 문자열

In [48]:
#021 letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'

print(letters[0], letters[2])

p t

In [51]:
#022 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"

print(license_plate[-4:])

2210

In [55]:
#023 아래의 문자열에서 '홀' 만 출력하세요.


string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [69]:
#024 문자열을 거꾸로 뒤집어 출력하세요.

string = "python"

string[::-1]

'nohtyp'

In [70]:
#025 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

phone_number = "010-1111-2222"

print(phone_number.replace("-", " "))

010 1111 2222

In [71]:
#026 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.


print(phone_number.replace("-",""))

01011112222

In [85]:
#027 url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"

#한거 : print(url[-2:])
#모범
url.split(".")[1]

'kr'

In [86]:
#028 아래 코드의 실행 결과를 예상해보세요.

lang = 'python'
lang[0] = 'P'
print(lang)

# 문자열은 수정할 수 없음 assign 못함

TypeError: 'str' object does not support item assignment

In [92]:
#029 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'

print(string.replace("a", "A"))

Abcdfe2A354A32A

In [93]:
#030 아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'
string.replace('b', 'B') #aBcd
print(string) #abcd

abcd

In [4]:
#031 문자열 합치기 아래 코드의 실행 결과를 예상해보세요.
a = "3"
b = "4"
print(a + b)
# concat(34)

34

In [6]:
#032 문자열 곱하기 결과예상
print("Hi" * 3)
#HiHiHi

HiHiHi

In [7]:
#033 문자열 곱하기 화면에 "-"를 80개 출력하세요
print("-" * 80)

--------------------------------------------------------------------------------

In [16]:
#034 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'
t2 = 'java'

#변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

#실행 예:
# python java python java python java python java

print((t1 + " " + t2 + " ")*3)

python java python java python java

In [33]:
#035 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13

#이렇게 하는건 몰랐었음, 근데 굳이 몰라도 될 듯. 왜냐하면 이렇게 처리하면 변수가 숫자인지 str인지 구분해줘야함
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [37]:
#036 .format 사용
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [38]:
#037 f-string. 이것도 몰랐었음. 근데 .format보다 이게 더 좋아보인다. .format에서는 {} 개수가 많아지면 알아보기 힘든데, 이건 괜찮을 듯
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [42]:
#038 컴마 제거하기 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

stocks = "5,969,782,550"
stocks_int = stocks.replace(",", "")
stocks_int = int(stocks_int)
stocks_int

5969782550

In [44]:
#039 문자열 슬라이싱 다음과 같은 문자열에서 '2020/03'만 출력하세요.

quarter = "2020/03(E) (IFRS연결)"

print(quarter[:7])

2020/03

In [51]:
#040 strip method 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "
data.strip() # lstrip() = 왼쪽공백제거, rstrip() = 오른쪽공백제거

'삼성전자'

In [54]:
#041 upper method 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"

ticker = ticker.upper()

print(ticker)

BTC_KRW

In [55]:
#042 lower method 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker.lower()

'btc_krw'

In [56]:
#043 capitalize method 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

t = "hello"
t.capitalize()

'Hello'

In [73]:
#044 endswith method 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_list = ["clf_report.xlsx", "segment_report.words", "reg_report.txt", "reg_report.csv"]

for t in file_list:
  if t.endswith("xlsx") == True or t.endswith("csv") == True or t.endswith("txt") == True:
    pass
  else:
    print(f"{t}의 파일 형식을 확인하세요")

segment_report.words의 파일 형식을 확인하세요

In [76]:
#045 endswith method 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
file_name = "report.xlsx"
file_name.endswith(("xls", "xlsx"))

True

In [77]:
#046 startswith method 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"

file_name.startswith("2020")

True

In [112]:
#047 split method 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요. 
a = "hello world"

print(a.split(sep = " "))
print(a.split(sep = "l", maxsplit = -1)) #maxsplit = 몇 개의 칸막이 나눌거냐?
print(a.split(sep = "l", maxsplit = 1)) #maxsplit = 몇 개의 칸막이 나눌거냐? = 1개니까 나눠진 덩어리는 2개
print(a.split(sep = "l", maxsplit = 2)) #maxsplit = 몇 개의 칸막이 나눌거냐? = 2개니까 나눠진 덩어리는 3개
print(a.split(sep = "l", maxsplit = 3)) #maxsplit = 몇 개의 칸막이 나눌거냐? = 3개니까 나눠진 덩어리는 4개

['hello', 'world']
['he', '', 'o wor', 'd']
['he', 'lo world']
['he', '', 'o world']
['he', '', 'o wor', 'd']

In [113]:
#048 split method 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"

ticker.split(sep = "_")

['btc', 'krw']

In [115]:
#049 split method 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"

date.split("-")

['2020', '05', '01']

In [127]:
#050 rstrip method 문자열 오른쪽에 공백이 있을 때 이를 제거해보세요
data = "039490        "

data.rstrip(" ")

'039490'

## 파이썬 리스트

In [157]:
#051 리스트 생성 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

movie_rank = ["닥터스트레인지", "스플릿", "럭키"]
movie_rank

['닥터스트레인지', '스플릿', '럭키']

In [158]:
#052 리스트에 원소추가 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank.append("배트맨")
movie_rank

['닥터스트레인지', '스플릿', '럭키', '배트맨']

In [159]:
#053 닥터스트레인지와 스플릿 사이에 슈퍼맨을 추가하라 insert 사용
movie_rank.insert(1, "슈퍼맨")
movie_rank

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [160]:
#054 movie_rank에서 럭키를 삭제하라 del 사용
del movie_rank[3]
movie_rank

['닥터스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [161]:
#055 movie_rank 리스트에서 스플릿과 배트맨을 삭제하라

del movie_rank[-2:]
movie_rank

['닥터스트레인지', '슈퍼맨']

In [163]:
#056 lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고있는 langs list를 만들어라

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [168]:
#057 다음 리스트에서 최댓값과 최솟값을 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7]


print(f"max: {max(nums)}\n"
     f"max: {min(nums)}")

max: 7
max: 1

In [173]:
#058 다음 리스트의 합을 출력하라
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [194]:
#059 다음 리스트에 저장된 데이터의 개수를 화면에 구하여라
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]


#len을 distinct 하고 싶으면 set()으로 만들어주면 됨
print(f"nondistinct {len(cook)}")
print(f"distinct {len(set(cook))}")

nondistinct 12
distinct 11

In [201]:
#060 다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
average

3.0

In [202]:
#061 price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]


price[1:]

[100, 130, 140, 150, 160, 170]

In [203]:
#062 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums[::2]

[1, 3, 5, 7, 9]

In [218]:
#063 슬라이싱을 사용해서 짝수만 출력하라.

nums[1::2]

[2, 4, 6, 8, 10]

In [219]:
#064 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.


nums = [1, 2, 3, 4, 5]

nums[::-1]

[5, 4, 3, 2, 1]

In [222]:
#065 interest 리스트에는 아래의 데이터가 바인딩되어 있다.


interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0], interest[2])

삼성전자 Naver

In [234]:
#066 interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
#삼성전자 LG전자 Naver SK하이닉스 미래에셋대우


interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(" ".join(interest))# join 몰랐음

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [235]:
#067 interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("/".join(interest)) # join 몰랐음

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [236]:
#068 join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자
# LG전자
# Naver
# SK하이닉스
# 미래에셋대우


print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [239]:
#069 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"
# >> print(interest)
# ['삼성전자', 'LG전자', 'Naver']

interest = string.split("/")
interest

['삼성전자', 'LG전자', 'Naver']

In [248]:
#070 오름차 정렬
data = [2, 4, 3, 1, 5, 10, 9]

data1 = sorted(data)
data.sort()#바로 값이 바뀌는 method. 객체로 못받음
print(data1)
print(data)

[1, 2, 3, 4, 5, 9, 10]
[1, 2, 3, 4, 5, 9, 10]

## 파이썬 튜플

In [41]:
#071 my_variable 이름의 비어있는 튜플을 만들라.

my_variable = ()
print(my_variable, type(my_variable))

() <class 'tuple'>

In [46]:
#072 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

# 순위 | 영화
# 1 | 닥터 스트레인지
# 2 | 스플릿
# 3 | 럭키

movie_rank = ("닥터스트레인지", "스플릿", "럭키")
movie_rank

('닥터스트레인지', '스플릿', '럭키')

In [54]:
#073 숫자 1 이 저장된 튜플을 생성하라.

my_tuple = (1)
type(my_tuple)

print("아래와 같이 괄호와 함께 하나의 정숫값을 저장하면 튜플이 정의 될 것같지만 그렇지 않습니다. type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식합니다.\n"
     f"{type(my_tuple)}")

아래와 같이 괄호와 함께 하나의 정숫값을 저장하면 튜플이 정의 될 것같지만 그렇지 않습니다. type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식합니다.
<class 'int'>

In [55]:
#073 하나의 데이터가 저장되는 경우, 아래와 같이 쉼표를 입력해만 합니다.

my_tuple = (1,)
print(my_tuple, type(my_tuple))

(1,) <class 'tuple'>

In [58]:
#074 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

t = (1, 2, 3)
t[0] = 'a'

#tuple은 element에 대한 assign이 안된다.(수정불가)

TypeError: 'tuple' object does not support item assignment

In [63]:
#075 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4

print(t, type(t))

#원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작합니다.

(1, 2, 3, 4) <class 'tuple'>

In [64]:
#076 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

# 튜플은 원소 하나만 변경하는 것이 불가능하기 때문에, 아예 새로운 값으로 할당해줘야함

t = ("A", "b", "c")
t

('A', 'b', 'c')

In [66]:
#077 다음 튜플을 리스트로 변환하라.


interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)
#튜플 원소는 변경 불가하나, type은 바꿀 수 있음

['삼성전자', 'LG전자', 'SK Hynix']

In [67]:
#078 다음 리스트를 튜플로 변경하라
interest = ['삼성전자', 'LG전자', 'SK Hynix']

tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [68]:
#079 튜플 언팩킹 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
# 튜플은 언팩킹이 가능하다

apple banana cake

In [73]:
#080 range 함수 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.


even_num = tuple(range(2, 100, 2)) # odd_num
print(even_num)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

## 파이썬 딕셔너리

In [ ]:
# 기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 
# 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

>> a, b, *c = (0, 1, 2, 3, 4, 5)
>> a
0
>> b
1
>> c
[2, 3, 4, 5]

In [10]:
#081 
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, _, _  = scores
valid_score

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [13]:
#082
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

_, _, *valid_score = scores
valid_score

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [14]:
#083 
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid_score, _ = scores
valid_score

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [15]:
#084
# temp 이름의 비어있는 딕셔너리를 만들라.

temp = {}

In [42]:
#085 

# 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

# 이름	희망 가격
# 메로나	1000
# 폴라포	1200
# 빵빠레	1800

prod_dict = {"메로나":1000, "폴라포":1200, "빵빠레":1800}
prod_dict

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [43]:
#086
# 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

prod_dict["죠스바"] = 1200
prod_dict["월드콘"] = 1500
prod_dict

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [40]:
#087
# 085 딕셔너리를 사용하여 메로나 가격을 출력하라.
prod_dict["메로나"]

1000

In [49]:
# 088
# 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

prod_dict["메로나"] = 1300
prod_dict

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [56]:
# 089 
# 다음 딕셔너리에서 메로나를 삭제하라.

prod_dict = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del prod_dict["메로나"]
prod_dict

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [58]:
# 090
# 다음 코드에서 에러가 발생한 원인을 설명하라.

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

# 없는 key를 호출함

KeyError: '누가바'

In [63]:
# 091
# 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

# 이름	가격	재고
# 메로나	300	20
# 비비빅	400	3
# 죠스바	250	100

inventory = {"메로나":[300, 20], "비비빅":[400, 3], "죠스바":[250,100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [70]:
# 092
# inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["메로나"][0]

300

In [71]:
# 093
# inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["메로나"][1]

20

In [77]:
# 094
# inventory 딕셔너리에 아래 데이터를 추가하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory["월드콘"] = [500, 7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [78]:
# 095
# 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ls = icecream.keys()
ls

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

In [79]:
# 096
# 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ls = icecream.values()
ls

dict_values([1200, 1200, 1800, 1500, 1000])

In [81]:
# 097
# icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

tt_amt = sum(icecream.values())
tt_amt

6700

In [83]:
# 098
# 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [87]:
# 099
# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

dict(zip(keys, vals))

   apple  pear  peach  index
0    300   250    400      0

In [93]:
# 099-1 dict를 dataframe으로 만들 경우 index를 잡아주면 됨
# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
pd.DataFrame(dict(zip(keys, vals), index = [0]))

   apple  pear  peach  index
0    300   250    400      0

In [9]:
# 100
# date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

dict(zip(date, close_price))

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

## 파이썬 분기문

In [ ]:
#101 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

#bool

In [10]:
#102 아래 코드의 출력 결과를 예상하라

print(3 == 5)

#False

False

In [11]:
#103 아래 코드의 결과를 예상하라.

print(3 < 5)

#True

True

In [12]:
#104 아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)

# True

True

In [13]:
#105 아래 코드의 결과를 예상하라.

print((3 == 3) and (4 != 3))

#True

True

In [14]:
#106 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

print(3 => 4)
#부호 순서

SyntaxError: invalid syntax (<ipython-input-14-8cd33b575a33>, line 3)

In [15]:
#108 아래 코드의 출력 결과를 예상하라

if 4 < 3:
  print("Hello World.")
else:
  print("Hi, there.")
  
#Hi, there

Hi, there.

In [17]:
#109 아래 코드의 출력 결과를 예상하라

if True:
  print("1")
  print("2")
else:
  print("3")
print("4")

#1, 2, 4

1
2
4

In [22]:
#110 아래 코드의 출력 결과를 예상하라

if True:
  if False:
    print("1")
    print("2")
  else:
    print("3")
else:
  print("4")
print("5")

#3, 5

3
5

In [25]:
#111 사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

user = input("입력:")
print(user * 2)

하
하하

In [28]:
#112 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

number = input("숫자를 입력하세요:")
print(int(number) + 10)

숫자를 입력하세요:30
40

In [31]:
#113 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

number = input("입력: ")
if int(number) % 2 == 0:
  print("짝수")
else:
  print("홀수")

입력: 3
홀수

In [34]:
#114 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

number = input("입력: ")
if int(number) + 20 > 255:
  print(255)
else:
  print(int(number) + 20)

입력: 234
254

In [37]:
#115 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

number = input("입력: ")

output = int(number) - 20

if output < 0:
  print(0)
elif output > 255:
  print(255)
else:
  print(output)

입력: 500
255

In [6]:
#116 사용자로부터 입력 받은 시간이 정각인지 판별하라.

time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 10000
정각 입니다.

In [10]:
#117 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = ["사과", "포도", "홍시"]

input_text = input("좋아하는 과일은? ")

if input_text in fruit:
  print("정답입니다.")
else:
  print("오답입니다.")

좋아하는 과일은? 포도
정답입니다.

In [12]:
#118 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

input_text = input("종목을 입력하세요.")

if input_text in warn_investment_list:
  print("투자 경고 종목입니다.")
else:
  print("투자 경고 종목이 아닙니다.")

종목을 입력하세요.Naver
투자 경고 종목입니다.

In [23]:
#119 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

input_text = input("계절을 입력하면 계절과 제철 과일이 출력됩니다. ")
if input_text in fruit.keys():
  print(input_text, fruit[input_text])
else:
  print(f"{input_text}은 제철과일이 없습니다")

계절을 입력하면 계절과 제철 과일이 출력됩니다.겨울
겨울은 제철과일이 없습니다

In [20]:
fruit["여름"]

'토마토'

In [37]:
#120 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

input_text = input("과일 이름을 입력하세요 ")

if input_text in fruit.values():
  print("정답입니다")
else:
  print("오답입니다")

과일 이름을 입력하세요 사과
정답입니다

In [41]:
#121 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

input_text = input("알파벳을 입력하세요 ")

if input_text.islower() == True:
  print(input_text.upper())
else:
  print(input_text.lower())

알파벳을 입력하세요 B
b

In [56]:
#122 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

input_text = input("점수를 입력하세요 ")

if int(input_text) in range(0,21,1):
  print("E")
elif int(input_text) in range(21,41,1):
  print("D")
elif int(input_text) in range(41,61,1):
  print("C")
elif int(input_text) in range(61,81,1):
  print("B")
else:
  print("A")

점수를 입력하세요 81
A

In [78]:
#123 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 
#사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

input_amount = float(input("통화의 양을 입력하세요. (e.g. 100달러 -> 100 입력): "))
input_currency = input("통화의 종류를 입력하세요. (e.g. 100달러 -> 달러 입력): ")

current_rate_dict = {"달러":1167, "엔":1.096, "유로":1268, "위안":171}


print("원화 환산 금액은 " + str(current_rate_dict[input_currency] * input_amount) + "원 입니다.")
  
  
#원래 답안 - 훨씬 간결하긴 한데, 100달러와 같이 띄어쓰기 안할 경우 에러발생함(split이 기본적으로 공백을 기준으로 나누기 때문)
# 환율 = {"달러": 1167, 
#         "엔": 1.096, 
#         "유로": 1268, 
#         "위안": 171}
# user = input("입력: ")
# num, currency = user.split()
# print(float(num) * 환율[currency], "원")

통화의 양을 입력하세요. (e.g. 100달러 -> 100 입력): 100
통화의 종류를 입력하세요. (e.g. 100달러 -> 달러 입력): 달러
원화 환산 금액은 116700.0원 입니다.

In [80]:
#124 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

number_1 = input("1번 숫자를 입력하세요. ")
number_2 = input("2번 숫자를 입력하세요. ")
number_3 = input("3번 숫자를 입력하세요. ")

print(max(number_1, number_2, number_3))

1번 숫자를 입력하세요. 5
2번 숫자를 입력하세요. 3
3번 숫자를 입력하세요. 9
9

In [88]:
#125 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

input_cell_no = input("휴대전화 번호를 입력하세요. (e.g. 010-1234-5678)")
first_no = input_cell_no.split("-")[0]
if first_no == "011":
  print("SKT")
elif first_no == "016":
  print("KT")
elif first_no == "019":
  print("LGU")
else:
  print("알 수 없음")

휴대전화 번호를 입력하세요. (e.g. 010-1234-5678)010-123123-1313
알 수 없음

In [71]:
input_post_no[0:2]

'01'

In [72]:
#126 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

try:
  input_post_no = input("우편번호 5자리를 입력하세요. 입력한 값: ")
  int(input_post_no)*1
except:
  print("잘못된 우편번호를 입력했습니다.")
else:
  if len(input_post_no) == 5 and input_post_no[0:2] in ["01"] and int(input_post_no[2]) <= 2:
    print("강북구")
  elif len(input_post_no) == 5 and input_post_no[0:2] in ["01"] and int(input_post_no[2]) <= 5:
    print("도봉구")
  elif len(input_post_no) == 5 and input_post_no[0:2] in ["01"] and int(input_post_no[2]) <= 9:
    print("노원구")
  else:
    print("잘못된 우편번호를 입력했습니다.")

우편번호 5자리를 입력하세요. 입력한 값:  02345

잘못된 우편번호를 입력했습니다.

In [57]:
#127 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

try:
  input_id = input("주민번호 13자리를 입력하세요.(입력 예시: 890223-1000000) 입력한 값: ")
  input_id.split("-")*1
except:
  print("잘못된 주민번호를 입력했습니다.")
if len(input_id) == 14 and input_id.split("-")[1][0] in ["1","3"]:
  print("남성입니다.")
elif len(input_id) == 14 and input_id.split("-")[1][0] in ["2", "4"]:
  print("여성입니다.")
else:
  print("잘못된 주민번호를 입력했습니다.")

주민번호 13자리를 입력하세요.(입력 예시: 890223-1000000) 입력한 값:  890223-1000000

남성입니다.

In [60]:
#128 주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

try:
  input_id = input("주민번호 13자리를 입력하세요.(입력 예시: 890223-1000000) 입력한 값: ")
  input_id.split("-")*1
except:
  print("잘못된 주민번호를 입력했습니다.")
else:
  condition = int(input_id.split("-")[1][1:3])
  if len(input_id) == 14 and condition <= 8:
    print("서울입니다.")
  elif len(input_id) == 14 and condition <= 12:
    print("부산입니다.")
  elif len(input_id) == 14:
    print("기타지역입니다.")
  else:
    print("잘못된 주민번호를 입력했습니다.")

주민번호 13자리를 입력하세요.(입력 예시: 890223-1000000) 입력한 값:  890223-1000000

서울입니다.

In [83]:
#129 주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.
y = "234567892345"
lst = []

try:
  input_id_real = input("주민번호 13자리를 입력하세요.(입력 예시: 890223-1000000) 입력한 값: ")
  input_id = input_id_real.replace("-","")*1
except:
  print("잘못된 주민번호를 입력했습니다.")
else:
  if len(input_id_real) == 14:
    for i in range(0,12,1):
      lst.append(int(input_id[i]) * int(y[i]))
    if len(input_id_real) == 14 and int(str(sum(lst)/11).split(".")[1][0]) == int(input_id[-1]):
      print("정상 주민번호입니다.")
    else:
      print("입력상에는 문제가 없으나, 잘못된 주민번호입니다.")
  else:
    print("잘못된 주민번호를 입력하였습니다.")

주민번호 13자리를 입력하세요.(입력 예시: 890223-1000000) 입력한 값:  890223-1111111

입력상에는 문제가 없으나, 잘못된 주민번호입니다.

In [155]:
#130 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

In [157]:
btc

{'opening_price': '54293000',
 'closing_price': '54682000',
 'min_price': '53425000',
 'max_price': '55049000',
 'units_traded': '1619.05958134',
 'acc_trade_value': '88000554856.7049',
 'prev_closing_price': '54293000',
 'units_traded_24H': '5948.51736935',
 'acc_trade_value_24H': '321211926293.9876',
 'fluctate_24H': '2183000',
 'fluctate_rate_24H': '4.16',
 'date': '1613525871901'}

In [163]:
gap = int(btc["max_price"]) - int(btc["min_price"])
adj_gap = int(btc["opening_price"]) + gap
max_price = int(btc["max_price"])


if adj_gap >= max_price:
  print("상승장")
else:
  print("하락장")

상승장

## 파이썬 반복문

In [2]:
#131 for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
    
# 사과
# 귤
# 수박

사과
귤
수박

In [3]:
#132 for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
# #####
# #####
# #####

#####
#####
#####

In [7]:
#133 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:
  print(변수)

print("A")
print("B")
print("C")

A
B
C
A
B
C

In [11]:
#134 for문을 풀어서 동일한 동작을하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

print("출력: A")
print("출력: B")
print("출력: C")

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [17]:
#135 for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
    
    
var_1 = ["A", "B", "C"]
print("변환:", var_1[0].lower())
print("변환:", var_1[1].lower())
print("변환:", var_1[2].lower())

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [19]:
#136 다음 코드를 for문으로 작성하라.

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

for 변수 in [10, 20, 30]:
  print(변수)

10
20
30
10
20
30

In [20]:
#137 다음 코드를 for문으로 작성하라.

print(10)
print(20)
print(30)


for i in range(10, 40, 10):
  print(i)

10
20
30
10
20
30

In [22]:
#138 다음 코드를 for문으로 작성하라.

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

for i in range(10, 40, 10):
  print(i)
  print("-------")

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [23]:
#139 다음 코드를 for문으로 작성하라.

print("++++")
print(10)
print(20)
print(30)

print("++++")
for i in range(10, 40, 10):
  print(i)

++++
10
20
30
++++
10
20
30

In [25]:
#140 다음 코드를 for문으로 작성하라.

print("-------")
print("-------")
print("-------")
print("-------")

for i in range(4):
    print("-------")

-------
-------
-------
-------
-------
-------
-------
-------

In [27]:
#141 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]

#110
#210
#310

for i in 리스트:
  print(i+10)

110
210
310

In [28]:
#142 for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]
# 오늘의 메뉴: 김밥
# 오늘의 메뉴: 라면
# 오늘의 메뉴: 튀김

for t in 리스트:
  print(f"오늘의 메뉴: {t}")

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [29]:
#143 리스트에 주식 종목이름이 저장돼 있다.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
# 저장된 문자열의 길이를 다음과 같이 출력하라.

# 6
# 4
# 4

for t in 리스트:
  print(len(t))

6
4
4

In [30]:
#144 리스트에는 동물이름이 문자열로 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
# 동물 이름과 글자수를 다음과 같이 출력하라.

# dog 3
# cat 3
# parrot 6


for t in 리스트:
  print(t, len(t))

dog 3
cat 3
parrot 6

In [33]:
#145 리스트에 동물 이름 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
# for문을 사용해서 동물 이름의 첫 글자만 출력하라.

# d
# c
# p

for t in 리스트:
  print(t[0])

d
c
p

In [38]:
#146 리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1
# 3 x 2
# 3 x 3

for i in 리스트:
  print("3 x", t)

3 x 3
3 x 3
3 x 3

In [41]:
#147 리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1 = 3
# 3 x 2 = 6
# 3 x 3 = 9

for i in 리스트:
  print(f"3 x {i} = {3*i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [44]:
#148 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 나
# 다
# 라

for t in 리스트[1:]:
  print(t)

나
다
라

In [58]:
#149 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]

# for문을 사용해서 다음과 같이 출력하라.

# 가
# 다

for t in 리스트[::2]:
  print(t)

가
다

In [60]:
#150 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 라
# 다
# 나
# 가

for t in 리스트[::-1]:
  print(t)

라
다
나
가

In [64]:
#151 리스트에는 네 개의 정수가 저장돼 있다.

리스트 = [3, -20, -3, 44]
# for문을 사용해서 리스트의 음수를 출력하라.

# -20
# -3

for t in 리스트:
  if t < 0:
    print(t)
#   else:
#     continue

-20
-3

In [73]:
#152 for문을 사용해서 3의 배수만을 출력하라.

리스트 = [3, 100, 23, 44]
# 3

for i in 리스트:
  if i % 3 == 0:
    print(i)

3

In [75]:
#153 리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]
# 12
# 18

for i in 리스트:
  if (i < 20) and (i % 3 == 0):
    print(i)

12
18

In [76]:
#154 리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]
# study
# python
# language

for t in 리스트:
  if len(t) >= 3:
    print(t)

study
python
language

In [87]:
#155 리스트에서 대문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
# A
# D

for t in 리스트:
  if t == t.upper():
    print(t)
    
for t in 리스트:
  if t.isupper() == True: # == True를 안줘도 True인 애만 뱉어줌(근데 명시적으로 표현해주는 게 더 나아보임)
    print(t)

A
D
A
D

In [93]:
#156 리스트에서 소문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
# b
# c

for t in 리스트:
  if t == t.lower():
    print(t)
print("\n")
for t in 리스트:
  if t.islower() == True: # islower() 메소드 자체를 써도 되고
    print(t)
print("\n")    
for t in 리스트:
  if t.isupper() == False: # 위에서 썼던 isupper() 메소드를 False, != True로 써도 되고
    print(t)
print("\n")
for t in 리스트:
  if not t.isupper(): # if 다음에 not을 붙여서 t.isupper() == True를 반대로 만들어줘도 되고
    print(t)

b
c


b
c


b
c


b
c

In [97]:
#157 이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']
# Dog
# Cat
# Parrot

for t in 리스트:
  print(t[0].upper() + t[1:])

Dog
Cat
Parrot

In [100]:
#158 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
# hello
# ex01
# intro

for t in 리스트:
  print(t.split(".")[0])

hello
ex01
intro

In [106]:
#159 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.hwp', 'run.py']
# intra.h

for t in 리스트:
  if t.split(".")[1] == "h": # 정확히 h인 경우
    print(t)
    
print("\n")

for t in 리스트:
  if t.split(".")[1][0] == "h": # h로 시작하는 경우
    print(t)

intra.h


intra.h
define.hwp

In [107]:
#160 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
# intra.h
# intra.c
# define.h

for t in 리스트:
  if (t.split(".")[1] == "h") or (t.split(".")[1] == "c"):
    print(t)

intra.h
intra.c
define.h