# 파이썬 시작하기

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

## 파이썬 시작하기

In [1]:
#001 화면에 Hello World 문자열을 출력하세요.


print("Hello World")

Hello World

In [2]:
#002 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)


print("Mary's cosmetics")

Mary's cosmetics

In [3]:
#003 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)


print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
#004 화면에 "C:\Windows"를 출력하세요.


print('"C:\Windows"')

"C:\Windows"

In [7]:
#005 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.


print("안녕하세요. \n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [8]:
#006 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.


print("오늘은", "일요일")

오늘은 일요일

In [10]:
#007 print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung


print("naver","kakao","sk","samsung", sep = ";")

naver;kakao;sk;samsung

In [11]:
#008 print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung


print("naver", "kakao", "sk", "samsung", sep = "/")

naver/kakao/sk/samsung

In [16]:
#009 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first",end="");print("second")

firstsecond

In [17]:
#010 5/3을 출력하세요
print(5/3)

1.6666666666666667

## 파이썬 변수

In [18]:
#011 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

samsung_amt = 50000
samsung_cnt = 10
tt_amt = samsung_amt * samsung_cnt

print(tt_amt)

500000

In [21]:
#012 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.


# 항목	값
# 시가총액	298조
# 현재가	50,000원
# PER	15.79

tt_amt = 2980000000000
now_amt = 50000
per = 15.79

print(tt_amt, type(tt_amt))
print(now_amt, type(now_amt))
print(per, type(per))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [27]:
#013 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"
t = "python"

# 두 변수를 이용하여 아래와 같이 출력해보세요.

# hello! python
# print(s, "! ", t, sep = "")
print(s+"!", t)

hello! python

In [28]:
#014 아래 코드의 실행 결과를 예상해보세요.

# >> 2 + 2 * 3 
# 8
print(2 + 2 * 3)

8

In [30]:
#015 type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

# >> a = 128
# >> print (type(a))
# <class 'int'>


a = "132"

print(type(a))

<class 'str'>

In [37]:
#016 문자열 to 정수형(str to int)

# 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

num_str = int(num_str)

num_str

720

In [38]:
#017 int to str

num = 100

num = str(num)
num

'100'

In [41]:
#018 str to float 
x = "15.79"
x = float(x)
x

15.79

In [42]:
#019 str to int
year = "2020"
this_year = int(year)
print(this_year, this_year-1, this_year-2)

2020 2019 2018

In [43]:
#020 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

month_amt = 48584
month = 36
total_amt = month_amt * month
print(total_amt)

1749024

## 파이썬 문자열

In [48]:
#021 letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'

print(letters[0], letters[2])

p t

In [51]:
#022 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"

print(license_plate[-4:])

2210

In [55]:
#023 아래의 문자열에서 '홀' 만 출력하세요.


string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [69]:
#024 문자열을 거꾸로 뒤집어 출력하세요.

string = "python"

string[::-1]

'nohtyp'

In [70]:
#025 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

phone_number = "010-1111-2222"

print(phone_number.replace("-", " "))

010 1111 2222

In [71]:
#026 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.


print(phone_number.replace("-",""))

01011112222

In [85]:
#027 url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"

#한거 : print(url[-2:])
#모범
url.split(".")[1]

'kr'

In [86]:
#028 아래 코드의 실행 결과를 예상해보세요.

lang = 'python'
lang[0] = 'P'
print(lang)

# 문자열은 수정할 수 없음 assign 못함

TypeError: 'str' object does not support item assignment

In [92]:
#029 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'

print(string.replace("a", "A"))

Abcdfe2A354A32A

In [93]:
#030 아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'
string.replace('b', 'B') #aBcd
print(string) #abcd

abcd

In [4]:
#031 문자열 합치기 아래 코드의 실행 결과를 예상해보세요.
a = "3"
b = "4"
print(a + b)
# concat(34)

34

In [6]:
#032 문자열 곱하기 결과예상
print("Hi" * 3)
#HiHiHi

HiHiHi

In [7]:
#033 문자열 곱하기 화면에 "-"를 80개 출력하세요
print("-" * 80)

--------------------------------------------------------------------------------

In [16]:
#034 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'
t2 = 'java'

#변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

#실행 예:
# python java python java python java python java

print((t1 + " " + t2 + " ")*3)

python java python java python java

In [33]:
#035 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13

#이렇게 하는건 몰랐었음, 근데 굳이 몰라도 될 듯. 왜냐하면 이렇게 처리하면 변수가 숫자인지 str인지 구분해줘야함
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [37]:
#036 .format 사용
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [38]:
#037 f-string. 이것도 몰랐었음. 근데 .format보다 이게 더 좋아보인다. .format에서는 {} 개수가 많아지면 알아보기 힘든데, 이건 괜찮을 듯
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [42]:
#038 컴마 제거하기 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

stocks = "5,969,782,550"
stocks_int = stocks.replace(",", "")
stocks_int = int(stocks_int)
stocks_int

5969782550

In [44]:
#039 문자열 슬라이싱 다음과 같은 문자열에서 '2020/03'만 출력하세요.

quarter = "2020/03(E) (IFRS연결)"

print(quarter[:7])

2020/03

In [51]:
#040 strip method 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "
data.strip() # lstrip() = 왼쪽공백제거, rstrip() = 오른쪽공백제거

'삼성전자'

In [54]:
#041 upper method 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"

ticker = ticker.upper()

print(ticker)

BTC_KRW

In [55]:
#042 lower method 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker.lower()

'btc_krw'

In [56]:
#043 capitalize method 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

t = "hello"
t.capitalize()

'Hello'

In [73]:
#044 endswith method 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_list = ["clf_report.xlsx", "segment_report.words", "reg_report.txt", "reg_report.csv"]

for t in file_list:
  if t.endswith("xlsx") == True or t.endswith("csv") == True or t.endswith("txt") == True:
    pass
  else:
    print(f"{t}의 파일 형식을 확인하세요")

segment_report.words의 파일 형식을 확인하세요

In [76]:
#045 endswith method 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
file_name = "report.xlsx"
file_name.endswith(("xls", "xlsx"))

True

In [77]:
#046 startswith method 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"

file_name.startswith("2020")

True

In [112]:
#047 split method 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요. 
a = "hello world"

print(a.split(sep = " "))
print(a.split(sep = "l", maxsplit = -1)) #maxsplit = 몇 개의 칸막이 나눌거냐?
print(a.split(sep = "l", maxsplit = 1)) #maxsplit = 몇 개의 칸막이 나눌거냐? = 1개니까 나눠진 덩어리는 2개
print(a.split(sep = "l", maxsplit = 2)) #maxsplit = 몇 개의 칸막이 나눌거냐? = 2개니까 나눠진 덩어리는 3개
print(a.split(sep = "l", maxsplit = 3)) #maxsplit = 몇 개의 칸막이 나눌거냐? = 3개니까 나눠진 덩어리는 4개

['hello', 'world']
['he', '', 'o wor', 'd']
['he', 'lo world']
['he', '', 'o world']
['he', '', 'o wor', 'd']

In [113]:
#048 split method 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"

ticker.split(sep = "_")

['btc', 'krw']

In [115]:
#049 split method 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"

date.split("-")

['2020', '05', '01']

In [127]:
#050 rstrip method 문자열 오른쪽에 공백이 있을 때 이를 제거해보세요
data = "039490        "

data.rstrip(" ")

'039490'

## 파이썬 리스트

In [157]:
#051 리스트 생성 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

movie_rank = ["닥터스트레인지", "스플릿", "럭키"]
movie_rank

['닥터스트레인지', '스플릿', '럭키']

In [158]:
#052 리스트에 원소추가 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank.append("배트맨")
movie_rank

['닥터스트레인지', '스플릿', '럭키', '배트맨']

In [159]:
#053 닥터스트레인지와 스플릿 사이에 슈퍼맨을 추가하라 insert 사용
movie_rank.insert(1, "슈퍼맨")
movie_rank

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [160]:
#054 movie_rank에서 럭키를 삭제하라 del 사용
del movie_rank[3]
movie_rank

['닥터스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [161]:
#055 movie_rank 리스트에서 스플릿과 배트맨을 삭제하라

del movie_rank[-2:]
movie_rank

['닥터스트레인지', '슈퍼맨']

In [163]:
#056 lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고있는 langs list를 만들어라

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [168]:
#057 다음 리스트에서 최댓값과 최솟값을 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7]


print(f"max: {max(nums)}\n"
     f"max: {min(nums)}")

max: 7
max: 1

In [173]:
#058 다음 리스트의 합을 출력하라
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [194]:
#059 다음 리스트에 저장된 데이터의 개수를 화면에 구하여라
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]


#len을 distinct 하고 싶으면 set()으로 만들어주면 됨
print(f"nondistinct {len(cook)}")
print(f"distinct {len(set(cook))}")

nondistinct 12
distinct 11

In [201]:
#060 다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
average

3.0

In [202]:
#061 price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]


price[1:]

[100, 130, 140, 150, 160, 170]

In [203]:
#062 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums[::2]

[1, 3, 5, 7, 9]

In [218]:
#063 슬라이싱을 사용해서 짝수만 출력하라.

nums[1::2]

[2, 4, 6, 8, 10]

In [219]:
#064 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.


nums = [1, 2, 3, 4, 5]

nums[::-1]

[5, 4, 3, 2, 1]

In [222]:
#065 interest 리스트에는 아래의 데이터가 바인딩되어 있다.


interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0], interest[2])

삼성전자 Naver

In [234]:
#066 interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
#삼성전자 LG전자 Naver SK하이닉스 미래에셋대우


interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(" ".join(interest))# join 몰랐음

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [235]:
#067 interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("/".join(interest)) # join 몰랐음

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [236]:
#068 join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자
# LG전자
# Naver
# SK하이닉스
# 미래에셋대우


print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [239]:
#069 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"
# >> print(interest)
# ['삼성전자', 'LG전자', 'Naver']

interest = string.split("/")
interest

['삼성전자', 'LG전자', 'Naver']

In [248]:
#070 오름차 정렬
data = [2, 4, 3, 1, 5, 10, 9]

data1 = sorted(data)
data.sort()#바로 값이 바뀌는 method. 객체로 못받음
print(data1)
print(data)

[1, 2, 3, 4, 5, 9, 10]
[1, 2, 3, 4, 5, 9, 10]