# 파이썬 시작하기

## 파이썬 시작하기

In [1]:
#001 화면에 Hello World 문자열을 출력하세요.


print("Hello World")

Hello World

In [2]:
#002 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)


print("Mary's cosmetics")

Mary's cosmetics

In [3]:
#003 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)


print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
#004 화면에 "C:\Windows"를 출력하세요.


print('"C:\Windows"')

"C:\Windows"

In [7]:
#005 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.


print("안녕하세요. \n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [8]:
#006 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.


print("오늘은", "일요일")

오늘은 일요일

In [10]:
#007 print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung


print("naver","kakao","sk","samsung", sep = ";")

naver;kakao;sk;samsung

In [11]:
#008 print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung


print("naver", "kakao", "sk", "samsung", sep = "/")

naver/kakao/sk/samsung

In [16]:
#009 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first",end="");print("second")

firstsecond

In [17]:
#010 5/3을 출력하세요
print(5/3)

1.6666666666666667

## 파이썬 변수

In [18]:
#011 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

samsung_amt = 50000
samsung_cnt = 10
tt_amt = samsung_amt * samsung_cnt

print(tt_amt)

500000

In [21]:
#012 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.


# 항목	값
# 시가총액	298조
# 현재가	50,000원
# PER	15.79

tt_amt = 2980000000000
now_amt = 50000
per = 15.79

print(tt_amt, type(tt_amt))
print(now_amt, type(now_amt))
print(per, type(per))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [27]:
#013 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"
t = "python"

# 두 변수를 이용하여 아래와 같이 출력해보세요.

# hello! python
# print(s, "! ", t, sep = "")
print(s+"!", t)

hello! python

In [28]:
#014 아래 코드의 실행 결과를 예상해보세요.

# >> 2 + 2 * 3 
# 8
print(2 + 2 * 3)

8

In [30]:
#015 type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

# >> a = 128
# >> print (type(a))
# <class 'int'>


a = "132"

print(type(a))

<class 'str'>

In [37]:
#016 문자열 to 정수형(str to int)

# 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

num_str = int(num_str)

num_str

720

In [38]:
#017 int to str

num = 100

num = str(num)
num

'100'

In [41]:
#018 str to float 
x = "15.79"
x = float(x)
x

15.79

In [42]:
#019 str to int
year = "2020"
this_year = int(year)
print(this_year, this_year-1, this_year-2)

2020 2019 2018

In [43]:
#020 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

month_amt = 48584
month = 36
total_amt = month_amt * month
print(total_amt)

1749024

## 파이썬 문자열

In [48]:
#021 letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'

print(letters[0], letters[2])

p t

In [51]:
#022 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"

print(license_plate[-4:])

2210

In [55]:
#023 아래의 문자열에서 '홀' 만 출력하세요.


string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [69]:
#024 문자열을 거꾸로 뒤집어 출력하세요.

string = "python"

string[::-1]

'nohtyp'

In [70]:
#025 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

phone_number = "010-1111-2222"

print(phone_number.replace("-", " "))

010 1111 2222

In [71]:
#026 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.


print(phone_number.replace("-",""))

01011112222

In [85]:
#027 url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"

#한거 : print(url[-2:])
#모범
url.split(".")[1]

'kr'

In [86]:
#028 아래 코드의 실행 결과를 예상해보세요.

lang = 'python'
lang[0] = 'P'
print(lang)

# 문자열은 수정할 수 없음 assign 못함

TypeError: 'str' object does not support item assignment

In [92]:
#029 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'

print(string.replace("a", "A"))

Abcdfe2A354A32A

In [93]:
#030 아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'
string.replace('b', 'B') #aBcd
print(string)

abcd